<div class='completed_batches_container container-fluid'>
  <h3 id='completed_batches_title'>Completed Batches</h3>
  <table class="table table-striped clearance_batches">
    <thead class='text-center'>
      <tr>
        <th scope='col' style="width: 25%" >ID</th>
        <th scope='col' style="width: 25%" >Date clearanced</th>
        <th scope='col' style="width: 25%" >Total items clearanced</th>
        <th scope='col' style="width: 25%" >Reports</th>
      </tr>
    </thead>
    <tbody>
      <%- @clearance_batches.each do |clearance_batch| -%>
        <tr class='batch-row text-center'>
          <td scope='row'><%= clearance_batch.title %></td>
          <td><%= l(clearance_batch.created_at, format: :short) %></td>
          <td><%= clearance_batch.items.count %></td>
          <td>
            <div class='btn-group'>
              <%= button_to "HTML", clearance_batch_path(clearance_batch), method: :get, class: 'report-btn html-btn btn btn-secondary'  %>
              <%= button_to "PDF", clearance_batch_path(clearance_batch, format: :pdf), method: :get, class: 'report-btn pdf-btn btn btn-secondary'  %>
              <%= button_to "CSV", clearance_batch_path(clearance_batch, format: :csv), method: :get, class: 'report-btn csv-btn btn btn-secondary'  %>
            </div>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
