<div class='in_progress_batches_container container'>
  <h3 id='in_progress_batches_title'>In Progress Batches</h3>
  <table class="table table-striped in_progress_batches">
    <thead class='text-center'>
      <tr>
        <th scope='col' style="width: 25%">ID</th>
        <th scope='col' style="width: 25%">Date Updated</th>
        <th scope='col' style="width: 25%">Total Items</th>
        <th scope='col' style="width: 25%">Options</th>
      </tr>
    </thead>
    <tbody id="in_progress_rows">
      <% @in_progress_batches.each do |batch| %>
        <tr class='batch-row text-center'>
          <td scope='row'><%= batch.title %></td>
          <td><%= l(batch.updated_at, format: :short) %></td>
          <td><%= batch.items.count %></td>
          <td>
            <div class='btn-group'>
              <%= button_to 'View', clearance_batch_path(batch), class: 'report-btn html-btn btn btn-success', method: 'get' %>
              <%= button_to 'Complete', clearance_batch_path(batch), class: 'report-btn html-btn btn btn-warning', name: 'close_batch', remote: true, method: :patch %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
