<div class='container' id='index_form_container'>
  <%= form_with url: clearance_batches_path, multipart: true, id: 'index_form', class: 'form col-md-12', role: 'form' do |f| %>
    <div class='row'>

      <div class='form-group col-md-5'>
        <%= f.file_field 'csv_file', class: 'form-control-file form-control', accept: 'text/csv' %>
        <%= f.submit 'Clearance CSV!', id: 'submit_csv', class: 'form-control btn btn-info' %>
      </div>

      <div class='col-md-2 form-spacer text-center'>
        <%= image_tag 'arrow.png', class: 'form-arrow' %>
        <p>Clearanace single item into a batch (select batch)</p>
        <%= image_tag 'arrow.png', class: 'form-arrow reverse-arrow' %>
        <p>Clearance CSV batch</p>
      </div>

      <div class='form-group col-md-5'>
        <%= f.text_field 'item_id', id: 'item_id_input', class: 'form-control', placeholder: 'Single Item ID', autofocus: true %>
        <% if @in_progress_batches.any? %>
          <%= f.select 'batch_id', options_from_collection_for_select(@in_progress_batches, :id, :title, @in_progress_batches.first.id.to_s), {include_blank: 'New Batch'}, {id: 'batch_select', class: 'form-control'} %>
        <% else %>
          <%= f.select 'batch_id', ['New Batch'], {}, {class: 'form-control'} %>
        <% end %>
        <%= f.submit 'Clearance Item!', id: 'submit_item', class: 'form-control btn btn-info' %>
      </div>

    </div>
  <% end %>
</div>
