<div class='container'>
  <div class='row'>
    <table id='batch-report' class='table table-striped'>
      <thead class='thead-dark'>
        <th scope='col' >ID</th>
        <th scope='col' >Size</th>
        <th scope='col' >Color</th>
        <th scope='col' >Price Sold</th>
        <th scope='col' >Style</th>
        <th scope='col' >Date Sold</th>
        <th scope='col' >Status</th>
      </thead>
      <tbody>
        <% @items.each_with_index do |item, idx| %>
          <tr class="report-row">
            <th scope='row' ><%= item.id %></th>
            <td><%= item.size %></td>
            <td><%= item.color %></td>
            <td><%= number_to_currency(item.price_sold) %></td>
            <td><%= item.style.name %></td>
            <td><%= l(item.sold_at, format: :short) %></td>
            <td><%= item.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
