<!-- Combining these two tables into one partial -->
<!-- was a good idea from a simplicity standpoint -->
<!-- I'm not pleased with readability as a result.. -->

<% if table_state == 'completed' %>
  <h3 class='table-title text-success'>Completed Batches</h3>
<% else %>
  <h3 class='table-title text-danger'>In Progress Batches</h3>
<% end %>

<table class="table table-responsive table-striped <%= table_state %>_batches">
  <tbody>
    <%- batches.each do |batch| -%>
      <tr class='batch-row text-center'>
        <td scope='row'><%= batch.title %></td>
        <td><%= pluralize(batch.items.count, 'Item') %></td>
        <td>
          <% if table_state == 'completed' %>
            <div class='btn-group'>
              <%= button_to "View", clearance_batch_path(batch), method: :get, class: 'report-btn html-btn btn btn-info'  %>
              <%= button_to "Open", clearance_batch_path(batch, format: :csv), method: :get, class: 'report-btn open-btn btn btn-danger'  %>
            </div>
            <div class='btn-group'>
              <%= button_to "PDF", clearance_batch_path(batch, format: :pdf), method: :get, class: 'report-btn pdf-btn btn btn-secondary'  %>
              <%= button_to "CSV", clearance_batch_path(batch, format: :csv), method: :get, class: 'report-btn csv-btn btn btn-secondary'  %>
            </div>
          <% else %>
            <div class='btn-group'>
              <%= button_to 'View', clearance_batch_path(batch), class: 'report-btn html-btn btn btn-info', method: 'get' %>
              <%= button_to 'Complete', clearance_batch_path(batch), class: 'report-btn complete-btn btn btn-success', name: 'close_batch', remote: true, method: :patch %>
            </div>
          <% end %>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
