<!-- Combining these two tables into one partial -->
<!-- was a good idea from a simplicity standpoint -->
<!-- I'm not pleased with readability as a result.. -->
<!-- Also Yes I agree, one should not ordinarily leave a comment in HTML -->

<% if table_state == 'completed' %>
  <h3 class='table-title text-success'>Completed Batches</h3>
<% else %>
  <h3 class='table-title text-danger'>Active Batches</h3>
<% end %>

<div class='table-container'>
  <table class="table table-responsive table-striped <%= table_state %>_table">
    <tbody class='table-body'>
      <%- batches.each do |batch| -%>
        <tr class='batch-row text-center'>
          <td scope='row'><%= batch.title %></td>
          <td><%= pluralize(batch.items.count, 'Item') %></td>
          <td><%= l(batch.updated_at, format: :short) %></td>
          <td>
            <% if table_state == 'completed' %>
              <%= render partial: 'completed_buttons', locals: {batch: batch} %>
            <% else %>
              <%= render partial: 'active_buttons', locals: {batch: batch} %>
            <% end %>
          </td>

        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>
