<h2></h2>

<div class='container text-right'>
  <%= form_tag(clearance_batches_path, multipart: true, class: 'form col-md-12', role: 'form') do %>
    <div class="form-group">
      <%= label_tag 'item_id', 'Clearance individual item' %>
      <%= text_field_tag 'item_id', nil, placeholder: '(single item csv)', class: 'form-control', autofocus: true %>
      <%= label_tag 'csv_file', 'Or upload CSV batch file' %>
      <%= file_field_tag 'csv_file', class: 'form-control' %>
    </div>
    <%= button_tag 'Clearance!', class: 'btn btn-primary' %>
    <!-- Form Continues into In Progress batches -->
    <%= render partial: 'in_progress_batches' %>
  <% end %>
  <%= render partial: 'clearance_batches' %>
</div>
