<h2>Clearance Batches</h2>

<%= form_tag(clearance_batches_path, multipart: true, class: 'form-inline', role: 'form') do %>
  <div class="form-group">
    <%= label_tag 'csv_batch_file', 'Select batch file' %>
    <%= file_field_tag 'csv_batch_file', class: 'form-control' %>
  </div>
  <%= button_tag 'upload batch file', class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped clearance_batches">
  <thead class='text-center'>
    <tr>
      <th scope='col' >ID</th>
      <th scope='col' >Date clearanced</th>
      <th scope='col' >Number of items clearanced</th>
      <th scope='col' >Reports</th>
    </tr>
  </thead>
  <tbody>
    <%- @clearance_batches.each do |clearance_batch| -%>
      <tr class='batch-row text-center'>
        <td scope='row'>Clearance Batch <%= clearance_batch.id %></td>
        <td><%= l(clearance_batch.created_at, format: :short) %></td>
        <td><%= clearance_batch.items.count %></td>
        <td>
          <div class='btn-group'>
            <%= button_to "HTML", clearance_batch_path(clearance_batch), method: :get, class: 'report-btn html-btn btn btn-secondary'  %>
            <%= button_to "PDF", clearance_batch_path(clearance_batch, format: :pdf), method: :get, class: 'report-btn pdf-btn btn btn-secondary'  %>
            <%= button_to "CSV", clearance_batch_path(clearance_batch, format: :csv), method: :get, class: 'report-btn csv-btn btn btn-secondary'  %>
          </div>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
