<div id='report-header' class='alert alert-dark container'>
  <div class="row">
    <div class='col-md-6 text-center'>
      <h2>Clearance Batch Report:</h2>
      <h4>Batch ID: <%= @clearance_batch.id %> &nbsp; &nbsp; Total Items: <%= @clearance_batch.items.count %></h4>
    </div>
    <div class='col-md-3 text-center'>
      <h4>Export Options</h4>
      <div class='btn-group btn-group-lg' role='group'>
        <%= button_to "PDF", clearance_batch_path(@clearance_batch, format: :pdf), method: :get, class: 'completed-btn pdf-btn btn btn-primary'  %>
        <%= button_to "CSV", clearance_batch_path(@clearance_batch, format: :csv), method: :get, class: 'completed-btn csv-btn btn btn-primary'  %>
      </div>
    </div>
    <div class='col-md-3 text-center'>
      <h4>Sort by</h4>
      <%= form_with url: clearance_batch_path(@clearance_batch), method: :get, class: 'form-inline' do |f| %>
        <%= f.select :sort, options_for_select([['ID UP', 'id-asc'], ['ID DN', 'id-desc']]), {}, {class: 'form-control', id: 'sort-select'} %>
        <%= f.button '>', id: 'btn-sort-select' %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'report' %>
