<!DOCTYPE html>
<html>
<head>
  <title>TakeHomeChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='text-center'>
  <%= link_to image_tag('stitchfix.png', class: 'hero-img'), root_path %>
</header>
<%= render partial: 'notifications' %>
<%= yield %>

</body>
</html>
